@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* next js width bug */
    @apply min-w-[320px] overflow-x-hidden;
  }

  header {
    @apply select-none;
  }

  body main,
  div > h2 {
    font-family: "Lato", sans-serif;
  }

  aside nav ul li {
    font-family: "Times New Roman", Times, serif;
    @apply flex items-center gap-[1.15rem] min-w-fit py-2 pl-2;
  }

  li {
    list-style: none;
  }

  li > svg {
    @apply text-2xl lg:text-xl;
  }

  nav ul li > a {
    @apply hidden lg:block text-xl;
  }
}

@layer components {
  .container--main {
    @apply sm:grid sm:grid-cols-custom-sm md:grid-cols-custom-md lg:grid-cols-5 grid-rows-2 h-full;
  }

  .container--leftSidebar {
    @apply hidden sm:block col-span-1 mt-3 md:pl-0 lg:ml-[3.1rem] 
    sm:justify-self-center md:justify-self-end
    lg:justify-self-start lg:self-start md:sticky md:top-0 lg:top-3;
  }

  .container--explore {
    @apply col-span-full sm:col-span-2 md:col-span-3 lg:col-span-2 justify-self-center
     lg:justify-self-start md:ml-[2.5rem] lg:ml-[3.4rem] border-x 
    border-gray-100 row-span-2 min-w-fit max-w-[15.5rem] lg:w-full
    lg:min-w-0 lg:max-w-none;
  }

  .container--tweets {
    @apply flex gap-2.5 min-w-fit border-b 
    border-gray-100 px-3.5 pb-2.5 pt-3 first:pt-1;
  }

  .container--reactPosts {
    @apply flex items-center justify-end gap-[0.20rem]
    min-w-fit text-[#536471] text-sm
    sm:gap-1.5 hover:cursor-pointer;
  }

  .card--whoToFollow {
    @apply border rounded-xl border-gray-100
    pr-4 mt-3 ml-16 lg:ml-12;
  }

  .btn--signUp {
    @apply text-[15px] font-bold border 
    border-gray-300 w-[95%] py-1.5 rounded-3xl 
     flex items-center justify-center gap-1;
  }

  .btn--callToAction--login {
    @apply text-twitter-color sm:text-white border rounded-full 
    border-gray-300 sm:border-[rgba(255,255,255,0.4)] py-1.5
    sm:py-2 flex-grow md:flex-grow-0 md:px-4 md:py-[0.50rem]
    text-sm font-bold lg:px-[0.82rem] lg:pb-1.5 lg:pt-1 tracking-tight;
  }

  .btn--callToAction--signUp {
    @apply bg-twitter-color text-white sm:bg-[#EFF3F4] sm:text-black border rounded-full 
    py-1.5 sm:py-2 flex-grow md:flex-grow-0 md:pt-1.5 md:pb-2 md:px-[1.1rem]
    lg:px-[0.90rem] lg:pt-1 font-bold text-sm;
  }
}

@layer utilities {
  section > p > span:hover {
    @apply underline cursor-pointer;
  }

  nav ul li:hover {
    @apply bg-gray-200 rounded-full cursor-pointer;
  }

  /* text span */
  .container--reactPosts:nth-child(1):hover,
  .container--reactPosts:nth-child(4):hover,
  .container--reactPosts:nth-child(5):hover {
    @apply text-[#1DA1F2];
  }

  .container--reactPosts:nth-child(2):hover {
    @apply text-green-500;
  }

  .container--reactPosts:nth-child(3):hover {
    @apply text-[#E0245E];
  }

  .container--reactPosts:nth-child(6):hover > span {
    @apply text-[#794BC4];
  }

  /* Container icon */
  .container--reactPosts:nth-child(1):hover > div,
  .container--reactPosts:nth-child(4):hover > div,
  .container--reactPosts:nth-child(5):hover > div {
    @apply text-[#1DA1F2] bg-[#E5F1F6] rounded-[50%];
  }

  .container--reactPosts:nth-child(2):hover > div {
    @apply text-green-500 bg-[#E5F6F1] rounded-[50%];
  }

  .container--reactPosts:nth-child(3):hover > div {
    @apply text-[#E0245E] bg-[#F6E5E5] rounded-[50%];
  }

  /* btn */

  .btn--signUp:hover {
    @apply bg-gray-200;
  }

  .btn--callToAction--login:hover {
    @apply bg-lime-950;
  }
}
